@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {

    padding: 0;
    margin:0;
    box-sizing: border-box;

    --font-family: "Montserrat", sans-serif;

    --burgerline_width: 30px;
    --burgerline_height: 6px;
    --burgerline_margin: 5px;

}

/*taggar*/

p {

    font-family: var(--font-family);

}

h1 {

    font-family: var(--font-family);

}

h2 {

    font-family: var(--font-family);

}

h3 {

    font-family: var(--font-family);
    
}

a {

    font-family: var(--font-family);

}

/* header */

header {

    grid-area: head;
    display: grid;
    grid-template-rows: 100px;
    grid-template-columns: 1fr 4fr;
    grid-template-areas: 
    "logo meny"
    ;
    box-shadow: 0px 1px 5px grey;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-image: url('../img/white.jpg');

}

#logga_sec {

    display: flex;
    align-items: center;
    padding-left: 30px;

}

#loggan {

    height: 80px;
    grid-area: logo;
}

#meny {

    height: 100px;
    width: 100%;
    grid-area: meny;
    display: flex;
    align-items: center;

}

#ul_header {

    display: flex;
    width: 100%;
    justify-content: space-around;
    list-style: none;
    flex-direction: row;
    top: 0px;
    
}

.links_visible {
    transform: translateY(0px);
}

#ul_header a:hover {
    color: brown;
}

#ul_header a {
    color: black;
    font-size: 1.5rem;
    letter-spacing: 0.05rem;
    width: 200px;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.a_header {

    color: black;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    font-size: 1.2rem;
    
}

/*footer*/

footer {

    grid-area: foot;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    background: gray;

}

#p_footer {

    font-size: 3rem;

}

/*sida 1*/

#body_1 {

    display: grid;
    grid-template-rows: 100px 650px 600px 600px 600px 600px 100px;
    grid-template-columns: 1fr 1fr;
    width: auto;
    grid-template-areas:
    "head head" 
    "sec1_1 sec2_1"
    "sec3_1 sec4_1"
    "sec5_1 sec6_1"
    "sec7_1 sec8_1"
    "sec9_1 sec10_1"
    "foot foot"
    ;

}

.section_class_1 {

    display: flex;
    justify-content: center;

}

.section_class_text_1 {

    flex-direction: column;
    padding-left: 150px;
    padding-right: 150px;


}

.text_1 {

    padding-bottom: 30px;

}


.pil_1 {

    height: 50px;

}

.read_more_a_1 {

    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
}

.read_more_p_1 {

    padding-left: 10px;
    font-size: 1.3rem;

}

.bild_1 {

    width: auto;
    height: auto;
}

#sec1_1 {

    grid-area: sec1_1;


}

#sec2_1 {

    grid-area: sec2_1;
    overflow: hidden;

}

#sec3_1 {

    grid-area: sec3_1;
    overflow: hidden;

}

#sec4_1 {

    grid-area: sec4_1;

}

#sec5_1 {

    grid-area: sec5_1;

}

#sec6_1 {

    grid-area: sec6_1;
    overflow: hidden;

}

#sec7_1 {

    grid-area: sec7_1;
    overflow: hidden;

}

#sec8_1 {

    grid-area: sec8_1;

}

#sec9_1 {

    grid-area: sec9_1;

}

#sec10_1 {

    grid-area: sec10_1;
    overflow: hidden;

}

/*sida 2*/

#body_2 {

    display: grid;
    grid-template-rows: 100px 300px 600px 600px 600px 100px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "head head" 
    "sec1_2 sec1_2"
    "sec1_2_2 sec2_2"
    "sec3_2 sec4_2"
    "sec5_2 sec6_2"
    "foot foot"
    ;

}


.section_class_2 {

    display: flex;
    justify-content: center;

}

.section_class_text_2 {

    flex-direction: column;
    padding-left: 150px;
    padding-right: 150px;


}

.text_2 {

    padding-bottom: 30px;

}

#sec1_2 {

    grid-area: sec1_2;
    align-items: center;
    padding-left: 200px;
    padding-right: 200px;
    background: gray;

}

#sec1_2_2 {

    grid-area: sec1_2_2;

}

#sec2_2 {

    grid-area: sec2_2;
    align-items: center;
}

.arrow_bildspel {
    width: 75px;
    height: auto;
    margin: 15px;
} 

#bildspel_bilderna {
    width: auto;
    height: 600px;
    border-radius: 30px;
}

#bildspel_inre_sec {
    display: flex;
    align-items: center;
}

#sec3_2 {

    grid-area: sec3_2;
    overflow: hidden;

}

#bild_map {

    height: auto;
    width: auto;  

}

#sec4_2 {

    grid-area: sec4_2;

}

#sec5_2 {

    grid-area: sec5_2;

}

#sec6_2 {

    grid-area: sec6_2;

}

/*sida 3*/



/*telefon*/

@media screen and (max-width: 800px) {

    p {

        font-size: 90%;

    }

    #meny {

        justify-content: flex-end;

    }
    
    #logga_sec {


        padding-left: 10px;

    }

    #ul_header {
        background: white;
        flex-direction: column;
        height: 400px;
        position: absolute;
        top: -400px;
        z-index: 1;
        width: auto;
        box-shadow: 0px 1px 5px grey;

    }
    
    #burger {
        margin-right: 50px;
        cursor: pointer;
        
    }

    .links_visible {
        transform: translateY(500px);
    }
    
    .burger_line {
        width: var(--burgerline_width);
        height: var(--burgerline_height);
        margin: var(--burgerline_margin);
        background: gray;
        border-radius: 20%;
        transition: all 0.5s;
    }

    #ul_header a {
        font-size: 1.25rem;
    }
    
    #ul_header a:hover {
        background: grey;
        color: black;
    }
    
    .burger_in_x_form #burger_line_2 {
        opacity: 0;
    }
    
    .burger_in_x_form #burger_line_1 {
        transform: translateY(calc(var(--burgerline_height) + var(--burgerline_margin))) rotate(45deg);
    }
    
    .burger_in_x_form #burger_line_3 {
        transform: translateY(calc((-1)*(var(--burgerline_height) + var(--burgerline_margin)))) rotate(-45deg);
    }
    
    #body_1{
        grid-template-rows: 100px 700px 300px 500px 300px 500px 300px 600px 300px 500px 300px 100px;
        grid-template-areas: 
            "head head"
            "sec1_1 sec1_1"
            "sec2_1 sec2_1"
            "sec4_1 sec4_1"
            "sec3_1 sec3_1"
            "sec5_1 sec5_1"
            "sec6_1 sec6_1"
            "sec8_1 sec8_1"
            "sec7_1 sec7_1"
            "sec9_1 sec9_1"
            "sec10_1 sec10_1"
            "foot foot"

        ;
    }

    .bild_1 {

        height: 100%;
    }

    .section_class_text_1 {

        flex-direction: column;
        padding: 25px;
    
    }

    #body_2 {

        grid-template-rows: 100px 300px 600px 500px 300px 300px 500px 500px 100px;
        grid-template-areas:
        "head head" 
        "sec1_2 sec1_2"
        "sec1_2_2 sec1_2_2"
        "sec2_2 sec2_2"
        "sec4_2 sec4_2"
        "sec3_2 sec3_2"
        "sec5_2 sec5_2"
        "sec6_2 sec6_2"
        "foot foot"
        ;
    }


    #sec1_2 {

        padding-left: 25px;
        padding-right: 25px;
    }

    .section_class_text_2 {

        padding-left: 25px;
        padding-right: 25px;

    }

    #sec2_2 {

        background: gray;

    }
    
    .arrow_bildspel {
        width: 50px;
        height: auto;
        margin: 10px;
    } 
    
    #bildspel_bilderna {
        width: auto;
        height: 300px;
        border-radius: 30px;
    }


    #p_footer {

        font-size: 1rem;
    
    }
   
}